<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <title>File upload</title>
        <style type="text/css">
            body {
                text-align: center;
                padding-top: 15%;
                background-color: #a2ec8c;
            }
            .big-button {
                display: inline-block;
                padding: 10px 20px;
                font-size: 30px;
                text-decoration: none;
                color: #000;
                background-color: #fff;
                border: 1px solid #000;
                border-radius: 5px;
                margin: 10px;
            }
            .list-columns {
                -webkit-column-count: 5;
                -moz-column-count: 5;
                column-count: 5;
                width: 60%;
                margin-left: 20%;
            }
            .list-columns li {
                text-align: left;
            }
            .progress-wrapper {
                width: 40%;
                margin-left: 30%;
            }
            .progress-wrapper .progress {
                background-color: rgb(196, 116, 25);
                width: 0%;
                padding: 5px 0px 5px 0px;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock content %}
    </body>
</html>
